.completed {
  text-decoration: line-through;
}

.secondary-content a {
  margin: 0 0.5em;
}

.complete-task {
  color: #7cce00;
}

.incomplete-task {
  color: #d14040;
}

.delete-task {
  color: #403c3c;
}

i {
  cursor: pointer;
}

.center-button {
  text-align: center;
}

.input-field {
  margin: 0 auto;
  width: 75%;
}